$primary-color: #1D1D1D;

$secondary-color:#262626;
$border-color: #4D4D4D;
$background-color:linear-gradient(to right, #3C3C3C, #444444 51%, #333333 100%);

$button-ok-color:#ff6267;
$button-cancel-color:#ffffff;

$font-size: 16px;